header {
    background-image: url(images/backyard-grapevine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.flex-container {
    display: flex;
    background-image: url(images/gallery\ varsakis20.png);
    background-repeat: no-repeat;
    background-size: 1025px;
    height: 260px;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0px;
}

nav ul {
    list-style-type: none;
    padding-left: 0px;
    margin-right: 15em;
    margin-left: 10em;
}

body {
    margin: 0px;
    background-color: #AAC268;
}


#Home a {
    color: #223701;
    background-color: #5f935cbc;
    font-family: 'Cinzel', serif;
    font-weight: 800;
    text-shadow: 2px 2px 3px rgb(114, 173, 62);
    text-decoration: none;
    font-size: 3em;
    margin-right: 30px;
    margin-top: 1.5em;
    border-radius: 30%;
}

#Home a:hover {
    text-shadow: 2px 2px 3px white;
}

#winelist {
    color: #368032;
    font-family: 'Cinzel', serif;
    font-weight: 900;
    text-decoration: underline;
    font-size: 2em;
    margin-left: 0 30px 0 10px;
    background-color: #ace058;
    border: 2px black solid;
    width: 200px;

}

#white a {
    color: #d3f4a2;
    background-color: #5f935cbc;
    font-family: 'Cinzel', serif;
    font-weight: 800;
    text-shadow: 2px 2px 3px rgb(49, 60, 40);
    text-decoration: none;
    font-size: 2em;
    margin-left: 90px;
    border-radius: 30%;
}

#white a:hover {
    text-shadow: 2px 2px 3px white;
}

#rosé a {
    color: #f47380fa;
    background-color: #5f935cbc;
    font-family: 'Cinzel', serif;
    font-weight: 800;
    text-shadow: 2px 2px 3px rgb(50, 66, 38);
    text-decoration: none;
    font-size: 2em;
    margin-left: 130px;
    border-radius: 30%;
}

#rosé a:hover {
    text-shadow: 2px 2px 3px white;

}

#red a {
    color: #ee4242;
    background-color: #5f935cbc;
    font-family: 'Cinzel', serif;
    font-weight: 800;
    text-shadow: 2px 2px 3px rgb(36, 54, 20);
    ;
    text-decoration: none;
    font-size: 2em;
    margin-left: 160px;
    border-radius: 30%;
}

#red a:hover {
    text-shadow: 2px 2px 3px white;
}

h1 {
    display: inline-block;
    margin: 0;
    font-family: 'Cinzel', serif;
    font-size: 3em;
    margin: 0;
    height: 1.1em;
    width: 100%;
    background-color: #AAC268;
    border: 2px solid #000000;
    text-align: center;
}

.firstp {
    text-align: center;
    padding: 0 2em;
    margin-top: 2.5em;
    font-weight: 400;
    font-family: 'Karla', serif;
    font-size: 1.4em;
}

.location1 {
    height: 325px;
    border: 1px solid #000;
    margin-top: 5px;
    margin-bottom: 9px;
    align-self: center;
}

.location2 {
    height: 300px;
    border: 1px solid #000;
    margin: 1px 0;
    width: 16em;

}

.location3 {
    height: 636px;
    border: 1px solid #000;
    margin-top: 6px;
}

.location4 {
    height: 300px;
    border: 1px solid #000;
    margin: 1px 0;
}

.location5 {
    height: 300px;
    border: 1px solid #000;
    margin: 1px 0;
    margin-top: 5px;
}

.location6 {
    height: 610px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.location7 {
    height: 310px;
    border: 1px solid #000;
    margin: 1px 0;

}

.location8 {
    height: 290px;
    border: 1px solid #000;
    margin: 1px 0;
    margin-top: 5px;
}

.flexcontainer2 {
    width: 920px;
    display: flex;
    height: 1650px;
    background-color: #E8FBB0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px black solid;
}

.container {
    height: 1250px;
    width: 920px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: flex-start;
    align-items: center;
}

.container2 {
    display: flex;
    width: 400px;
    height: 645px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: wrap;

}

.container1 {
    display: flex;
    height: 645px;
    width: 920px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

}

.container4 {
    display: flex;
    height: 620px;
    width: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: wrap;
}

.container5 {
    display: flex;
    height: 620px;
    width: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: wrap;

}

.container3 {
    display: flex;
    height: 620px;
    width: 920px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

main {
    display: flex;
    height: auto;
    background-image: url(images/R.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    justify-content: center;

}

Footer {
    background-color: #2b501c;
    padding-bottom: 5px;
    border-top: 2px black solid;
    margin-top: 2em;
}

h5 {
    text-align: left;
    font-size: 1em;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 2em;
}

ol li a {
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* White wine page */

.backgroundcontainerwhite {
    width: 1380px;
    background-color: #afefa6;
    height: 110px;
    border-bottom: 3px black solid;
}

.Mosxofilero {
    display: flex;
    flex-wrap: wrap;
    width: 920px;
    height: 3314px;
    justify-content: flex-start;
}

.Mosxofilero h2 {
    color: #162203;
    text-align: center;
    font-size: 3.5em;
    margin: 0;
    font-family: 'Lobster Two', serif;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 0;
    height: 1em;
}

.header1 {
    background-color: #092a03;
    height: 3px;
    margin: 0;
    padding: 0;
    border-color: #0b0000;
}

.Menu2 {
    color: #162203;
    text-align: center;
    font-family: 'Lobster Two', serif;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: 400;
    height: 1.1em;
    padding: 0;
}

.Mosxofilero img {
    height: 40em;
    width: 460px;

}

.Mosxofilero img:nth-of-type(1) {
    height: 40em;
    width: 460px;
    border-top: 2px #162203 solid;
}

.containermon {
    display: flex;
    background-color: #568246d8;
    height: 40em;
    width: 460px;
    border-top: 2px #162203 solid;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    transition: all 900ms;
}

.containermon:hover {
    gap: 0;
}

.containermon:hover hr {
    margin-top: 4em;
    margin-bottom: 1em;
}

.containermon:hover hr:nth-of-type(2) {
    margin-top: 1em;
    margin-bottom: 4em;
}

.containermon hr {
    width: 12em;
    background-color: #deedc7;
    margin-top: 2em;
    margin-bottom: 3em;
    transition: all 900ms;
}

.containermon hr:nth-of-type(2) {
    width: 12em;
    background-color: #deedc7;
    margin-bottom: 1em;
    margin-top: 4em;
    transition: all 900ms;
}

.containermon h3 {
    font-size: 2.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 0 0 8px 0;
}

.containermon h4 {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #2d2a02;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 5px 0;
}

.Gaia {
    font-size: 1.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.containermon ul {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.containermon p:nth-of-type(1) {
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 10px 20px;
}

.containermon p:nth-of-type(2) {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #2d2a02;
    text-align: center;
    font-weight: 700;
    padding: 8px;
}

.containermon li:nth-of-type(3) {
    color: black;
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}


.containermus {
    display: flex;
    background-color: #7A6D3Dd8;
    height: 40em;
    width: 460px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    transition: all 900ms;
}

.containermus:hover {
    gap: 0;
}

.containermus:hover hr {
    margin-top: 4em;
    margin-bottom: 1em;
}

.containermus:hover hr:nth-of-type(2) {
    margin-top: 1em;
    margin-bottom: 4em;
}

.containermus hr {
    width: 12em;
    background-color: #deedc7;
    margin-top: 2em;
    margin-bottom: 3em;
    transition: all 900ms;
}

.containermus hr:nth-of-type(2) {
    width: 12em;
    background-color: #deedc7;
    margin-bottom: 1em;
    margin-top: 4em;
    transition: all 900ms;
}

.containermus h3 {
    font-size: 2.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 0 0 8px 0;
}

.containermus h4 {
    font-size: 1.1em;
    font-family: 'Oxygen', sans-serif;
    color: #211f01;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 5px 0;
}

.Muses {
    font-size: 1.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.containermus ul {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.containermus p:nth-of-type(1) {
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 10px 20px;
}

.containermus p:nth-of-type(2) {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #242101;
    text-align: center;
    font-weight: 700;
    padding: 8px;
}

.containermus li:nth-of-type(3) {
    color: black;
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.containermal {
    display: flex;
    background-color: #57601Dd8;
    height: 40em;
    width: 460px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    transition: all 900ms;
}

.containermal:hover {
    gap: 0;
}

.containermal:hover hr {
    margin-top: 4em;
    margin-bottom: 1em;
}

.containermal:hover hr:nth-of-type(2) {
    margin-top: 1em;
    margin-bottom: 4em;
}

.containermal hr {
    width: 12em;
    background-color: #deedc7;
    margin-top: 2em;
    margin-bottom: 3em;
    transition: all 900ms;
}

.containermal hr:nth-of-type(2) {
    width: 12em;
    background-color: #deedc7;
    margin-bottom: 1em;
    margin-top: 4em;
    transition: all 900ms;
}

.containermal h3 {
    font-size: 2.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 5px 0 8px 0;
}

.containermal h4 {
    font-size: 1.4em;
    font-family: 'Oxygen', sans-serif;
    color: #252302;
    text-align: center;
    font-weight: 700;
    margin: 5px 0 5px 0;
}

.Alfa {
    font-size: 1.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.containermal ul {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.containermal p:nth-of-type(1) {
    font-size: 1.em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 10px 20px;
}

.containermal p:nth-of-type(2) {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #191701;
    text-align: center;
    font-weight: 700;
    margin: 10px 20px;
}

.containermal li:nth-of-type(3) {
    color: black;
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.containerepi {
    display: flex;
    background-color: #3B6549d8;
    height: 40em;
    width: 460px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    transition: all 900ms;
}

.containerepi:hover {
    gap: 0;
}

.containerepi:hover hr {
    margin-top: 4em;
    margin-bottom: 1em;
}

.containerepi:hover hr:nth-of-type(2) {
    margin-top: 1em;
    margin-bottom: 4em;
}

.containerepi hr {
    width: 12em;
    background-color: #deedc7;
    margin-top: 2em;
    margin-bottom: 3em;
    transition: all 900ms;
}

.containerepi hr:nth-of-type(2) {
    width: 12em;
    background-color: #deedc7;
    margin-bottom: 2em;
    margin-top: 2.5em;
    transition: all 900ms;
}

.containerepi h3 {
    font-size: 2.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 5px 0 8px 0;
}

.containerepi h4 {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #2d2a02;
    text-align: center;
    font-weight: 700;
    margin: 5px 0 5px 0;
}

.Parisis {
    font-size: 1.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.containerepi ul {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.containerepi p:nth-of-type(1) {
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 10px 20px;
}

.containerepi p:nth-of-type(2) {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #2d2a02;
    text-align: center;
    font-weight: 700;
    padding: 8px;
}

.containerepi li:nth-of-type(3) {
    color: black;
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.containerviv {
    display: flex;
    background-color: #315259d8;
    height: 40em;
    width: 460px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    transition: all 900ms;
}

.containerviv:hover {
    gap: 0;
}

.containerviv:hover hr {
    margin-top: 4em;
    margin-bottom: 1em;
}

.containerviv:hover hr:nth-of-type(2) {
    margin-top: 1em;
    margin-bottom: 4em;
}

.containerviv hr {
    width: 12em;
    background-color: #deedc7;
    margin-top: 2em;
    margin-bottom: 3em;
    transition: all 900ms;
}

.containerviv hr:nth-of-type(2) {
    width: 12em;
    background-color: #deedc7;
    margin-bottom: 1em;
    margin-top: 4em;
    transition: all 900ms;
}

.containerviv h3 {
    font-size: 2.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 5px 0 8px 0;
}

.containerviv h4 {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #211f02;
    text-align: center;
    font-weight: 700;
    margin: 5px 0 5px 0;
}

.Biblia {
    font-size: 1.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.containerviv ul {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.containerviv p:nth-of-type(1) {
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 10px 20px;
}

.containerviv p:nth-of-type(2) {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #211f02;
    text-align: center;
    font-weight: 700;
    padding: 8px;
}

.containerviv li:nth-of-type(3) {
    color: black;
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

/* rosé wine page */

.backgroundcontainerrose {
    width: 920px;
    background-color: #dbb4c2;
    height: 110px;
    border-bottom: 3px black solid;
}

.Avarinorosé {
    display: flex;
    flex-wrap: wrap;
    width: 920px;
    height: 3314px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    background-color: #dbb4c2d7;
}

.imgavarino {
    opacity: 0;
    transition: transform 900ms ease;
    transition: all 900ms;
    flex: 1;
    position: absolute;
}

.containerava:hover .imgavarino {
    opacity: 1;
    transform: translatex(460px);
}

.containerava:hover hr {
    margin-top: 4em;
    margin-bottom: 1em;
}

.containerava:hover hr:nth-of-type(2) {
    margin-top: 1em;
    margin-bottom: 4em;
}

.containerava {
    display: inline-block;
    background-color: #ca687ab2;
    height: 40em;
    width: 460px;
    position: relative;

}

.containerava hr {
    width: 12em;
    background-color: #deedc7;
    margin-top: 2em;
    margin-bottom: 3em;
    transition: all 900ms;
}

.containerava hr:nth-of-type(2) {
    width: 12em;
    background-color: #deedc7;
    margin-bottom: 1em;
    margin-top: 4em;
    transition: all 900ms;
}

.Avarinorosé h2 {
    color: #162203;
    text-align: center;
    font-size: 3.5em;
    margin: 0;
    font-family: 'Lobster Two', serif;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 0;
    height: 1em;
}

.header2 {
    background-color: #092a03;
    height: 3px;
    margin: 0;
    padding: 0;
    border-color: #0b0000;
}

.Menu3 {
    color: #162203;
    text-align: center;
    font-family: 'Lobster Two', serif;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: 400;
    height: 1.1em;
    padding: 0;
}

.Avarinorosé img {
    height: 40em;
    width: 460px;
}

.containerava h3 {
    font-size: 2.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 5px 0 8px 0;
}

.containerava h4 {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #413e1c;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 5px 0;
}

.Nestor {
    font-size: 1.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.containerava ul {
    display: inline-block;
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 3em;
    width: 460px;
}

.containerava p:nth-of-type(1) {
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    padding: 10px 20px;
}

.containerava p:nth-of-type(2) {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #2d2a02;
    text-align: center;
    font-weight: 200;
    padding: 8px;
}

.containerava li:nth-of-type(3) {
    color: rgb(34, 34, 34);
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.img9musses {
    opacity: 0;
    transition: transform 900ms ease;
    transition: all 900ms;
    flex: 1;
    position: absolute;
}

.container9mus:hover .img9musses {
    opacity: 1;
    transform: translatex(460px);
}

.container9mus:hover hr {
    margin-top: 4em;
    margin-bottom: 1em;
}

.container9mus:hover hr:nth-of-type(2) {
    margin-top: 1em;
    margin-bottom: 4em;
}

.container9mus {
    display: inline-block;
    background-color: #ac526db2;
    height: 40em;
    width: 460px;
}

.container9mus hr {
    width: 12em;
    background-color: #deedc7;
    margin-top: 2em;
    margin-bottom: 3em;
    transition: all 900ms;
}

.container9mus hr:nth-of-type(2) {
    width: 12em;
    background-color: #deedc7;
    margin-bottom: 1em;
    margin-top: 4em;
    transition: all 900ms;
}

.container9mus h3 {
    font-size: 2.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 5px 0 8px 0;
}

.container9mus h4 {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #413e1c;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 5px 0;
}

.Musess {
    font-size: 1.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.container9mus ul {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 4em;
    width: 460px;
}


.container9mus p:nth-of-type(1) {
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    padding: 10px 20px;
}

.container9mus p:nth-of-type(2) {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #2d2a02;
    text-align: center;
    font-weight: 500;
    padding: 8px;
}

.container9mus li:nth-of-type(3) {
    color: rgb(34, 34, 34);
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;

}

.containerlil {
    display: inline-block;
    background-color: #af3c64b2;
    height: 40em;
    width: 460px;
}

.imgmikrhkivwtos {
    opacity: 0;
    transition: transform 900ms ease;
    transition: all 900ms;
    flex: 1;
    position: absolute;
}

.containerlil:hover .imgmikrhkivwtos {
    opacity: 1;
    transform: translatex(460px);
}

.containerlil:hover hr {
    margin-top: 4em;
    margin-bottom: 1em;
}

.containerlil:hover hr:nth-of-type(2) {
    margin-top: 1em;
    margin-bottom: 4em;
}

.containerlil hr {
    width: 12em;
    background-color: #deedc7;
    margin-top: 2em;
    margin-bottom: 3em;
    transition: all 900ms;
}

.containerlil hr:nth-of-type(2) {
    width: 12em;
    background-color: #deedc7;
    margin-bottom: 1em;
    margin-top: 4em;
    transition: all 900ms;
}

.containerlil h3 {
    font-size: 2.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 5px 0 8px 0;
}

.containerlil h4 {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #312f15;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 5px 0;
}

.Lantidis {
    font-size: 1.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.containerlil ul {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 4em;
    width: 460px;
}

.containerlil p:nth-of-type(1) {
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    padding: 10px 20px;
    ;
}

.containerlil p:nth-of-type(2) {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #2d2a02;
    text-align: center;
    font-weight: 200;
    padding: 8px;
}

.containerlil li:nth-of-type(3) {
    color: rgb(34, 34, 34);
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.containerPot {
    display: inline-block;
    background-color: #812c50b2;
    height: 40em;
    width: 460px;
}

.imgpotamos {
    opacity: 0;
    transition: transform 900ms ease;
    transition: all 900ms;
    flex: 1;
    position: absolute;
}

.containerPot:hover .imgpotamos {
    opacity: 1;
    transform: translatex(460px);
}

.containerPot:hover hr {
    margin-top: 4em;
    margin-bottom: 1em;
}

.containerPot:hover hr:nth-of-type(2) {
    margin-top: 1em;
    margin-bottom: 4em;
}

.containerPot hr {
    width: 12em;
    background-color: #deedc7;
    margin-top: 2em;
    margin-bottom: 3em;
    transition: all 900ms;
}

.containerPot hr:nth-of-type(2) {
    width: 12em;
    background-color: #deedc7;
    margin-bottom: 1em;
    margin-top: 4em;
    transition: all 900ms;
}

.containerPot h3 {
    font-size: 2.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 5px 0 8px 0;
}

.containerPot h4 {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #312f15;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 5px 0;
}

.Koniordos {
    font-size: 1.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.containerPot ul {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 5em;
    width: 460px;
}

.containerPot p:nth-of-type(1) {
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    padding: 10px 20px;
}

.containerPot p:nth-of-type(2) {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #2d2a02;
    text-align: center;
    font-weight: 600;
    padding: 8px;
}

.containerPot li:nth-of-type(3) {
    color: rgb(34, 34, 34);
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.containerAna {
    display: inline-block;
    background-color: #621335b2;
    height: 40em;
    width: 460px;
}

.imganastasia {
    opacity: 0;
    transition: transform 900ms ease;
    transition: all 900ms;
    flex: 1;
    position: absolute;
}

.containerAna:hover .imganastasia {
    opacity: 1;
    transform: translatex(460px);
}

.containerAna:hover hr {
    margin-top: 4em;
    margin-bottom: 1em;
}

.containerAna:hover hr:nth-of-type(2) {
    margin-top: 1em;
    margin-bottom: 4em;
}

.containerAna hr {
    width: 12em;
    background-color: #deedc7;
    margin-top: 2em;
    margin-bottom: 3em;
    transition: all 900ms;
}

.containerAna hr:nth-of-type(2) {
    width: 12em;
    background-color: #deedc7;
    margin-bottom: 1em;
    margin-top: 4em;
    transition: all 900ms;
}

.containerAna h3 {
    font-size: 2.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 5px 0 8px 0;
}

.containerAna h4 {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #312f15;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 5px 0;
}

.Manos {
    font-size: 1.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.containerAna ul {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 5em;
    width: 460px;
}

.containerAna p:nth-of-type(1) {
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    padding: 10px 20px;
}

.containerAna p:nth-of-type(2) {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #2d2a02;
    text-align: center;
    font-weight: 600;
    padding: 8px;
}

.containerAna li:nth-of-type(3) {
    color: rgb(24, 24, 24);
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

/*red wine page */
.Exis {
    display: flex;
    flex-wrap: wrap;
    width: 1380px;
    height: 2672px;
    justify-content: center;
    align-items: flex-start;
}

.Exis img {
    height: 40em;
    width: 460px;
}

.Exis h2 {
    color: #0b0000;
    text-align: center;
    font-size: 3.5em;
    margin: 0;
    font-family: 'Lobster Two', serif;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 0;
    height: 1em;
}

.Exis .Menu1 {
    color: #0b0000;
    text-align: center;
    font-family: 'Lobster Two', serif;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: 400;
    height: 1.1em;
    padding: 0;
}

.Exis .hheader {
    background-color: #0b0000;
    height: 3px;
    margin: 0;
    padding: 0;
    border-color: #0b0000;
}

.containerexi {
    display: flex;
    background-color: #3d122ccb;
    height: 40em;
    width: 460px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    transition: all 900ms;
}

.containerexi:hover {
    gap: 0;
}

.containerexi:hover hr {
    margin-top: 4em;
    margin-bottom: 1em;
}

.containerexi:hover hr:nth-of-type(2) {
    margin-top: 1em;
    margin-bottom: 4em;
}

.containerexi hr {
    width: 12em;
    background-color: #deedc7;
    margin-top: 2em;
    margin-bottom: 3em;
    transition: all 900ms;
}

.containerexi hr:nth-of-type(2) {
    width: 12em;
    background-color: #deedc7;
    margin-bottom: 1em;
    margin-top: 3em;
    transition: all 900ms;
}

.containerexi h3 {
    font-size: 2.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 5px 0 8px 0;
}

.containerexi h4 {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #12070a;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 5px 0;
}

.Manole {
    font-size: 1.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.containerexi ul {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.containerexi p:nth-of-type(1) {
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    padding: 10px 20px;
}

.containerexi p:nth-of-type(2) {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #0d0000;
    text-align: center;
    font-weight: 700;
    padding: 8px;
}

.containerexi li:nth-of-type(3) {
    color: black;
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}


.container9muss {
    display: flex;
    background-color: #572B38cb;
    height: 40em;
    width: 460px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    transition: all 900ms;
}

.container9muss:hover {
    gap: 0;
}

.container9muss:hover hr {
    margin-top: 4em;
    margin-bottom: 1em;
}

.container9muss:hover hr:nth-of-type(2) {
    margin-top: 1em;
    margin-bottom: 4em;
}

.container9muss hr {
    width: 12em;
    background-color: #deedc7;
    margin-top: 2em;
    margin-bottom: 3em;
    transition: all 900ms;
}

.container9muss hr:nth-of-type(2) {
    width: 12em;
    background-color: #deedc7;
    margin-bottom: 1em;
    margin-top: 4em;
    transition: all 900ms;
}

.container9muss h3 {
    font-size: 2.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 5px 0 8px 0;
}

.container9muss h4 {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #12070a;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 5px 0;
}

.container9muss ul {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.container9muss p:nth-of-type(1) {
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    padding: 10px 20px;
}

.container9muss p:nth-of-type(2) {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #0d0000;
    text-align: center;
    font-weight: 700;
    padding: 8px;
}

.container9muss li:nth-of-type(3) {
    color: black;
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}


.containerMon {
    display: flex;
    background-color: #411731cb;
    height: 40em;
    width: 460px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    transition: all 900ms;
}

.containerMon:hover {
    gap: 0;
}

.containerMon:hover hr {
    margin-top: 4em;
    margin-bottom: 1em;
}

.containerMon:hover hr:nth-of-type(2) {
    margin-top: 1em;
    margin-bottom: 4em;
}

.containerMon hr {
    width: 12em;
    background-color: #deedc7;
    margin-top: 2em;
    margin-bottom: 3em;
    transition: all 900ms;
}

.containerMon hr:nth-of-type(2) {
    width: 12em;
    background-color: #deedc7;
    margin-bottom: 1em;
    margin-top: 4em;
    transition: all 900ms;
}

.containerMon h3 {
    font-size: 2.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 5px 0 8px 0;
}

.containerMon h4 {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #000000;
    text-align: center;
    font-weight: 800;
    margin: 5px 0 5px 0;
}

.containerMon ul {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.containerMon p:nth-of-type(1) {
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    padding: 10px 20px;
}

.containerMon p:nth-of-type(2) {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #0b0000;
    text-align: center;
    font-weight: 800;
    padding: 8px;
}

.containerMon li:nth-of-type(3) {
    color: black;
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.containerVap {
    display: flex;
    background-color: #570924cb;
    height: 40em;
    width: 460px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    transition: all 900ms;
}

.containerVap:hover {
    gap: 0;
}

.containerVap:hover hr {
    margin-top: 4em;
    margin-bottom: 1em;
}

.containerVap:hover hr:nth-of-type(2) {
    margin-top: 1em;
    margin-bottom: 4em;
}

.containerVap hr {
    width: 12em;
    background-color: #deedc7;
    margin-top: 2em;
    margin-bottom: 3em;
    transition: all 900ms;
}

.containerVap hr:nth-of-type(2) {
    width: 12em;
    background-color: #deedc7;
    margin-bottom: 2.3em;
    margin-top: 2.1em;
    transition: all 900ms;
}

.containerVap h3 {
    font-size: 2.5em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    margin: 5px 0 8px 0;
}

.containerVap h4 {
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #0d0003;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 5px 0;
}

.containerVap ul {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.containerVap p:nth-of-type(1) {
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    color: #def4d9;
    text-align: center;
    font-weight: 200;
    padding: 10px 20px;
}

.containerVap p:nth-of-type(2) {
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    color: #0d0000;
    text-align: center;
    font-weight: 700;
    padding: 8px;
}

.containerVap li:nth-of-type(3) {
    color: black;
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}


.backgroundcontainer {
    width: 1380px;
    background-color: rgb(125, 63, 63);
    height: 110px;
    border-bottom: 3px black solid;
}

/* footer design */
footer ol li {
    color: #a5ca69;
    font-family: 'Karla', serif;
    font-size: 1em;
}

footer ol li a {
    color: #b6cf8e;
    font-family: 'Karla', serif;
    font-size: 1em;
}

footer ol li a:hover {
    color: #f3ffdf;
    font-family: 'Karla', serif;
    font-size: 1em;
}

footer ol li a:active {
    color: #9dff00;
}

footer h3 {
    color: #b2ff89;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    margin-left: 2em;
}

footer h2 {
    color: #e6ffd9;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    margin-left: 1em;
    font-size: 1.5em;
}

footer {
    width: 100%;
}